




.track{
    background-color: #404eed;
}


#color nav{
    background-color: #404eed;

}

/* .header{
    min-height: 80vh;
} */
 li{
    margin: 0.5em;
}


button{
    width: 10em;

    border-radius: 9em;
}

.text {
    text-align: center;
}

.download button{
    width: 19em;
    height: 3.5em;
    border-radius: 30px;
}
.last-btn button{
    width: 19em;
    height: 3.5em;
    border: 1px solid gray;
    border-radius: 30px;
    background: #404eed;
    color: white;
    
}




.hero{
    background-color: #f6f6f6;
}

.colors{
    color: #404eed;
}

.fix nav{
    position: fixed;
}